absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alpaca-py
alpaca-trade-api
alpha_vantage
altair
annotated-types
ansicon
anyascii
anyio
astor
asttokens
astunparse
asyncio
asyncpg
attrs
audioread
av
babel
backcall
backoff
bangla
bcrypt
beautifulsoup4
black
blessed
blinker
blis
bnnumerizer
bnunicodenormalizer
build
cachetools
catalogue
certifi
cffi
charset-normalizer
chromadb
click
cloudpathlib
colorama
coloredlogs
comm
confection
contourpy
coqpit
coverage
cryptography
ctranslate2
cycler
cymem
Cython
dateparser
debugpy
decorator
deprecation
distro
dnspython
docker
docopt
durationpy
ecdsa
einops
email_validator
encodec
et_xmlfile
executing
fastapi
faster-whisper
filelock
flake8
Flask
flatbuffers
fonttools
frozendict
frozenlist
fsspec
fuzzywuzzy
g2pkk
gast
geographiclib
geopy
git-python
gitdb
GitPython
google-auth
google-pasta
googleapis-common-protos
greenlet
grpcio
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
h11
h5py
hangul-romanize
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
inflect
iniconfig
inquirer
ipykernel
ipython
isort
itsdangerous
jamo
jedi
jieba
Jinja2
jinxed
joblib
jsonlines
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kaleido
keras
kiwisolver
kubernetes
langcodes
language_data
lazy_loader
Levenshtein
libclang
librosa
litellm
llvmlite
loguru
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
ml-dtypes
mmh3
more-itertools
mplfinance
mpmath
msgpack
multidict
multitasking
murmurhash
mypy
mypy_extensions
namex
narwhals
nest-asyncio
networkx
nltk
num2words
numba
numpy
oauthlib
onnxruntime
open-interpreter
openai
openai-whisper
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
orjson
overrides
packaging
pandas
parso
passlib
pathspec
patsy
peewee
pickleshare
pillow
piper-tts
platformdirs
plotly
pluggy
pooch
posthog
preshed
prompt-toolkit
propcache
protobuf
psutil
psycopg2-binary
pure-eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyflakes
Pygments
PyJWT
Pympler
pynndescent
pyotp
pyparsing
PyPika
pypinyin
pyproject_hooks
pyreadline3
pysbd
pytest
pytest-asyncio
pytest-cov
python-crfsuite
python-dateutil
python-decouple
python-dotenv
python-editor
python-jose
python-Levenshtein
python-multipart
pytz
pytz-deprecation-shim
pywin32
PyYAML
pyzmq
RapidFuzz
readchar
referencing
regex
requests
requests-oauthlib
rich
robin-stocks
rpds-py
rsa
safetensors
schedule
scikit-learn
scipy
seaborn
shellingham
six
smart_open
smmap
sniffio
sounddevice
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
sseclient-py
stack-data
starlette
statsmodels
streamlit
SudachiDict-core
SudachiPy
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
thinc
threadpoolctl
tiingo
tiktoken
tokenizers
tokentrim
toml
torch
torchaudio
torchvision
tornado
tqdm
trainer
traitlets
transformers
TTS
typeguard
typer
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
urllib3
uvicorn
validators
-e ./backend/chat_app
wasabi
watchdog
watchfiles
wcwidth
weasel
webrtcvad
websocket-client
Werkzeug
wget
win32_setctime
wrapt
yarl
yfinance
zipp